@import "tailwindcss";


@layer {
  body {
      font-family: "Poppins", sans-serif;
  }
}

@keyframes soft-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  8% {
    transform: translateY(-10px);
  }
  16% {
    transform: translateY(0);
  }
}

.animate-soft-bounce {
  animation: soft-bounce 4s ease-in-out infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-3deg); }
  30% { transform: rotate(3deg); }
  45% { transform: rotate(-2deg); }
  60% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

.wiggle-2 {
  animation: wiggle 2s ease-in-out infinite;
}

.wiggle-4 {
  animation: wiggle 4s ease-in-out infinite;
}

.wiggle-6 {
  animation: wiggle 6s ease-in-out infinite;
}

.wiggle-8 {
  animation: wiggle 8s ease-in-out infinite;
}
